.categoryButtonsDrink {
  background-color: transparent;
  border: transparent;
}

.categoryButtonsDrink:hover {
  scale: 1.1;
}

.button0 {
  background: transparent url('../images/ordinaryDrinkIcon.svg') no-repeat center;
}

.button1 {
  background: transparent url('../images/cocktailIconDrink.svg') no-repeat center;
}

.button2 {
  background: transparent url('../images/shakeDrinkIcon.svg') no-repeat center;
}

.button3 {
  background: transparent url('../images/unknownDrinkIcon.svg') no-repeat center;
}

.button4 {
  background: transparent url('../images/cocoaDrinkIcon.svg') no-repeat center;
}

.allDrinksRecipes {
  background: transparent url('../images/AllDrinksRecipes.svg') no-repeat center;
  background-color: transparent;
  border: 0;
}

.containerCardRecipesDrinks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  max-height: 50px;
}

.navCategorysDrinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 50px;
  padding-bottom: 10rem;
  text-align: center;
}

.cardsLinkDrinks {
  border: 1px rgb(185, 183, 13) solid;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
}

.cardsLinkDrinks:hover {
  background-color: #41197f;
  border: 1px solid #41197f;
  color: white;
  scale: 1.3;
}
