.containerDetailsProduct {
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: large;
  height: 25rem;
  margin: 0 auto;
  width: 100%;
}

.containerCardRecomended {
  display: flex;
}

.containerList {
  text-align: center;
}

.listIngredientsDetails {
  border: 1px black solid;
  border-radius: 4px;
  margin-top: 5px;
}

.favoriteAndShareBtn {
  display: flex;
}

.shareBtnRecipesDetails button {
  background-color: transparent;
  border: 0;
}

.favoriteBtnRecipesDetails button {
  background-color: transparent;
  border: 0;
}

.containerFavoriteAndShare {
  display: flex;
  font-size: x-large;
  justify-content: space-between;
}

.containerTitleRecipeDetails {
  background-color: rgba(0, 0, 0, 25%);
  color: white;
  display: inline-block;
  height: 190px;
  line-height: 190px;
  position: relative;
  text-align: center;
  top: -189%;
  width: 100%;
  z-index: 1;
}

.titleCardDetails {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}

.instructionsContainer {
  border: 1px black solid;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 4px;
}

.containerRecipeDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

iframe {
  border: 1px solid black;
  border-radius: 4px;
}

.imgProductDetails {
  border-radius: 4px;
  display: block;
  object-fit: cover;
  object-position: top;
  position: relative;
  width: 100%;
  z-index: 0;
}

.containerImgTitle {
  height: 190px;
  line-height: 190px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
